/* Template for changing all colors quickly */

/* Layout colors */

$bodyColor: black;
$topbarColor: lightgray;
$boxColor: darkgray;

/* Text colors */

$fontColor: white;
$titleColor: white;
$linkColor: blue;
$iconColor: yellow;
