// Template for changing all colors quickly

// Layout colors

$bodyColor: #2f3131;
$topbarColor: #f8f1e5;
$iconColor: #426e86;
$accentColor: #f9ba32;

// Text colors

$fontColor: #f8f1e5;
$titleColor: $accentColor;
$linkColor: blue;
