/* Template for changing all colors quickly */

/* Layout colors */

$bodyColor: #EFEFEF;
$topbarColor: white;
$iconColor: #FF3B3F;
$accentColor: #CAEBF2;

/* Text colors */

$fontColor: black;
$titleColor: black;
$linkColor: blue;
