@import "manifest";

/*

****************** GLOBAL *********************

*/

body {
  color: $bodyColor;
}

.top-bar {
  color: $topbarColor;
}

h1, h2, h3, h4 {
  color: $titleColor;
}

p {
  color: $fontColor;
}

a {
  color: $linkColor;
}
